* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --main-color: #333;
  --secondary-color: #818181;
  --title-color: #4dbeff;
  --lg-text-color: #f2f2f2;
  --dark-text-color: #6e6e6e;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  border: none;
}
p {
  font-size: 14px;
}
.container {
  width: 1000px;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  min-height: 100vh;
}
.head-bar {
  width: 100%;
  height: 20px;
  background: var(--main-color);
}
.header {
  display: flex;
}
.left-header {
  padding-top: 50px;
  display: flex;
  align-items: center;
  width: 30%;
  background: var(--main-color);
}
.left-deco {
  width: 70px;
  height: 80px;
  background: var(--secondary-color);
}
.img-container {
  width: 150px;
  height: 150px;
  background: #fff;
  padding: 5px;
  margin-right: 20px;
}
.img-container img {
  width: 100%;
}
.right-deco {
  background: var(--secondary-color);
  height: 80px;
  flex: 1;
}
.right-header {
  padding-top: 50px;
  width: 70%;
}
.right-header-title {
  right: 0;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 35px;
  text-align: right;
  padding: 0 80px;
  color: var(--dark-text-color);
}
.right-header-deco {
  width: 100%;
  height: 80px;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  color: var(--lg-text-color);
  font-size: 40px;
  letter-spacing: 5px;
}
.content {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 220px);
}
.left-content {
  width: 30%;
  background: var(--main-color);
  padding: 20px 80px 0 70px;
}

.left-content li {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
.left-content li i {
  color: var(--title-color);
  margin-right: 10px;
  font-size: 12px;
  width: 9px;
}
.left-content li a,
.left-content li p {
  color: var(--lg-text-color);
  font-size: 12px;
}
.left-content h5 {
  color: var(--lg-text-color);
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.left-content h5 span {
  color: rgb(255, 91, 32);
  letter-spacing: 2px;
}
.skill ul li span {
  margin-right: 10px;
  width: 9px;
  color: var(--title-color);
  font-weight: bold;
}
.education li {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.education li span {
  color: var(--title-color);
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}
.education li p {
  margin-bottom: 10px;
}
.right-content {
  width: 70%;
  padding: 0 40px;
}
.right-content h5 {
  color: var(--dark-text-color-text-color);
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.right-content h5 span {
  letter-spacing: 2px;
  color: orangered;
}
.personal-statement p {
  text-align: justify;
  margin-bottom: 20px;
  line-height: 20px;
  color: var(--dark-text-color);
}
table {
  width: 100%;
  margin-bottom: 20px;
  line-height: 20px;
}
.duration {
  font-weight: bold;
  color: #000;
}
table ul li {
  list-style-type: disc;
}
table td {
  color: var(--dark-text-color);
  min-width: 100px;
  vertical-align: top;
  text-align: justify;
}
table .job-title {
  color: var(--title-color);
  font-weight: bold;
}
.technical-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.tech-item {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 10px;
}
.tech-item .left {
  width: 40%;
  font-size: 14px;
}
.tech-item .right {
  width: 60%;
}
.tech-item .bar {
  height: 8px;
  background: rgb(255, 174, 0);
}
@media only screen and (max-width: 1000px) {
  .container {
    width: auto;
  }
}
@media only screen and (max-width: 900px) {
  .left-deco {
    width: 50px;
  }
  .img-container {
    margin-right: 10px;
  }
  .left-content {
    padding-left: 50px;
    padding-right: 70px;
  }
  .left-content li a,
  .left-content li p {
    overflow-wrap: anywhere;
  }
}
@media only screen and (max-width: 800px) {
  .left-content {
    padding-right: 35px;
  }
  tbody {
    display: flex;
  }
  tr {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  td {
    flex-basis: 100%;
  }
  li {
    list-style: none !important;
  }
}
@media only screen and (max-width: 750px) {
  .left-deco {
    width: 30px;
  }
  .img-container {
    margin-right: 5px;
  }
  .right-header-title {
    padding: 0 20px;
  }
  .left-content {
    padding-left: 30px;
    padding-right: 45px;
  }

  .right-content {
    padding: 0 20px;
  }
  .tech-item {
    flex-basis: 100%;
    padding-right: 0;
  }
}
@media only screen and (max-width: 700px) {
  .left-deco {
    width: 20px;
  }
  .left-content {
    padding-left: 20px;
    padding-right: 35.5px;
  }
}
@media only screen and (max-width: 600px) {
  .left-deco {
    width: 10px;
  }
  .img-container {
    width: 120px;
    height: 120px;
  }
  .right-header {
    padding-top: 35px;
  }
  .content {
    flex-direction: column;
  }
  .left-content,
  .right-content {
    width: 100%;
  }
  .left-content {
    padding: 20px;
  }
}
@media only screen and (max-width: 550px) {
  .right-header-title {
    padding: 0 10px;
  }
  .right-header-deco {
    font-size: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .img-container {
    width: 100px;
    height: 100px;
  }
  .right-header {
    padding-top: 25px;
  }
}

@media only screen and (max-width: 400px) {
  .left-header {
    padding-top: 0;
  }
  .left-deco,
  .right-deco {
    display: none;
  }
  .img-container {
    width: 100%;
    height: 100%;
    margin-right: 0;
    padding: 0;
  }
  .img-container img {
    height: 100%;
    object-fit: fill;
  }
  .right-header {
    padding-top: 0;
    background: var(--secondary-color);
  }
  .right-header-title {
    color: var(--lg-text-color);
  }
  .right-header-deco {
    padding: 0 10px;
    height: fit-content;
  }
}
